.Container_middle
{
    display: flex;
    justify-content: space-between;
}
 
.left
{
    width: 500px;
    background-color:#EEF1F6; 
    height: 350px;
     
}
.Container_middle_para
{
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-container {
    display: flex;
    justify-content: center;
        /* flex-wrap: nowrap; */
  }
  
  .flex-container > div {
    background-color: #f1f1f1;
    width: 100px;
    margin: 10px;
    text-align: center;
    line-height: 25px;
    font-size: 18px;
  }
  @media screen and (max-width: 768px) {
  .Container_middle {
    flex-direction: column;
    align-items: center;
  }

  .left, .right {
    width: 90%;
  }
}
